/*Textos*/
.titulo{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 25px;
    margin-left: 20px;
    color: #22252a;
    text-align: center;
    background-color: #ffffff;
}
.blockT{
    background-color: #ffffff;
    border-radius: 10px;
    width: 350px;
    text-align: left;
}
.titulo2{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 15px;
    /* margin-left: 20px; */
    color: #22252a;
    text-align: center;
    /* padding-top: 10px; */
}
.text-modal{
  font-size: 30px;
  font-weight: 600;
  color: #282d41;
  text-align: center;
}
.cuerpo-modal{
  font-weight: 400;
  font-size: 28px;
  color: #393e46;
}
.cuerpoT{
    font-weight: 400;
    font-size: 28px;
    color: #393e46;
    padding: 10px;
    margin-left: 20px;
}
.subtitulo{
    color: #282d41;
    font-size: 40px;
    text-align: left;
    vertical-align: center;
    font-weight: 800;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 80px;
    width: 60%; /*ancho*/
}
.subtitulo2{
    color: #282d41;
    font-size: 30px;
    text-align: left;
    font-weight: 500;
    margin-bottom: 30px;
    margin-left: 40px;
    width: 60%;
}
.subtitulo3{
    color: #ffffff;
    font-size: 18px;
    text-align: left;
    font-weight: 500;
    margin-bottom: 30px;
    width: 60%;
}
.numerado{
    margin-bottom: 7px;
    color: #282d41;
    text-align: center;
}
.numerado2{
    margin-bottom: 7px;
    color: #282d41;
    text-align: center;
}
.descripcion{
    font-weight: 400;
    font-size: 20px;
    color: #282d41;
    text-align: justify;
    width: 500px;
    margin: 10px 0px;
    line-height: 50px;
}
.detalle{
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    margin-left: 40px;
    margin-top: 0;
    width: 60%;
}
a{
    color: #282d41;
}
.modalp{
  color: #393e46;
}